<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="icon" href="./assets/img/book-2-fill.svg" type="image/svg" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
	<title>Pacotes</title>
</head>

<body>
	<main>
		<header class="header">
			<h1>Pacotes</h1>
		</header>

		<ul class="nav justify-content-center">
			<li class="nav-item">
				<a class="nav-link active" aria-current="page" href="">Home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Usuarios</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Pacotes</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="">Reservas</a>
			</li>
		</ul>

		<section class="container">

			<div class="p-4">
				<div class="d-flex justify-content-end mt-4">
					<a th:href="@{pacotes/cadastrar}" class="btn btn-primary mb-2 botao1"> Novo Pacote </a>
				</div>

				<table class="table table-responsive table-hover">
					<thead class="table-dark">
						<tr>
							<th scope="col">id</th>
							<th scope="col">Destino</th>
							<th scope="col">Preço</th>
							<th scope="col">Ações</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="p : ${pacotes}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.destino}"></td>
							<td th:text="${p.preco}"></td>
							<td>
								<div class="d-flex">
									<a th:href="@{'/pacotes'}" data-bs-toggle="modal"
										th:data-bs-target="'#exampleModal' + ${p.id}" class="mx-1" title="Editar">
										<i class="ri-file-edit-line"></i>
									</a>
									<a th:href="@{'/pacotes/' + ${p.id} + '/excluir'}" class="mx-1" title="Cancelar"
										onclick="return confirm('Deseja excluir o pacote ?')">
										<i class="ri-delete-bin-2-line"></i>
									</a>

									<!-- Modal Update-->
									<div class="modal fade" th:id="'exampleModal' + ${p.id}" tabindex="-1"
										aria-labelledby="exampleModalLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h1 class="modal-title fs-5" id="exampleModalLabel">Atualizar Pacote
													</h1>
													<button type="button" class="btn-close" data-bs-dismiss="modal"
														aria-label="Close"></button>
												</div>
												<div class="modal-body">
													<form th:action="@{/pacotes/cadastrar}" method="post"
														th:object="${pacote}">
														<h2 class="text-center">Preencha os campos</h2>
														<input type="hidden" id="id" name="id" class="form-control"
															th:value="${p.id}" />
														<div class="form-group mb-3">
															<label for="nome" class="form-label">
																Destino
															</label>
															<input type="text" id="destino" name="destino"
																class="form-control" th:value="${p.destino}" />
														</div>

														<div class="form-group mb-3">
															<label for="preco" class="form-label">
																Preço
															</label>
															<input type="text" id="preco" name="preco"
																class="form-control" th:value="${p.preco}" />
														</div>

														<button type="submit" class="btn btn-primary">
															Enviar
														</button>
														<a href="./usuarios" class="btn btn-danger"
															style="margin-left: 10px">
															Cancelar
														</a>
													</form>
												</div>

											</div>
										</div>
									</div>

								</div>
							</td>
						</tr>

					</tbody>
				</table>
			</div>
		</section>
	</main>
	<footer>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"></script>
</body>

</html>