<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../styles/reset.css" />
    <link rel="stylesheet" href="../styles/base.css" />
    <link rel="stylesheet" href="../styles/style.css" />
    <!-- CSS do Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- JS do Bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;500;700&display=swap" rel="stylesheet" />
</head>

<body id="myPage" data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="50">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" th:href="@{/}">BAHIA TOUR</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/destino}">DESTINO</a></li>
                    <li><a th:href="@{/promocoes}">PROMOÇÕES</a></li>
                    <li><a th:href="@{usuarios/cadastrar}">CADASTRO</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">CRUD <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a th:href="@{/usuarios}">Usuários</a></li>
                            <li><a th:href="@{/pacotes}">Pacotes</a></li>
                            <li><a th:href="@{/reservas}">Reservas</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><span class="glyphicon glyphicon-search"></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main>
        <div class="bg-1">
            <div class="container">
                <h3 class="text-center">Aproveite nossas promoções</h3>
                <p class="text-center">
                    Com nossos descontos especiais, você terá a oportunidade de desbravar novos horizontes e descobrir
                    lugares
                    mágicos que sempre sonhou em conhecer. Dos exóticos destinos tropicais, com praias paradisíacas e
                    paisagens de
                    tirar o fôlego, às charmosas cidades históricas repletas de cultura e tradição, temos opções para
                    todos os
                    gostos e estilos de viajantes.
                </p>
                <ul class="list-group">
                    <li class="list-group-item">
                        Praia do Forte <span class="badge">25% de desconto</span>
                    </li>
                    <li class="list-group-item">
                        Ilha de Boipeba <span class="label label-danger">Esgotando!</span>
                        <span class="badge">10% de desconto</span>
                    </li>
                    <li class="list-group-item">
                        Pelourinho <span class="badge">25% de desconto</span>
                    </li>
                </ul>

                <div class="row text-center">
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="../assets/banner01max.jpg" alt="morro de sao paulo" width="400" height="300" />
                            <p><strong>Morro de São Paulo</strong></p>
                            <p>R$ 1.000,00</p>
                            <button class="btn" data-toggle="modal" data-target="#myModal">
                                Compre agora
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="../assets/banner02max.jpg" alt="ilha dos frades" width="400" height="300" />
                            <p><strong>Ilha dos Frades</strong></p>
                            <p>R$ 1.000,00</p>
                            <button class="btn" data-toggle="modal" data-target="#myModal">
                                Compre agora
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="thumbnail">
                            <img src="../assets/banner03max.jpg" alt="chapada diamantina" width="400" height="300" />
                            <p><strong>Chapada Diamantina</strong></p>
                            <p>R$ 1.000,00</p>
                            <button class="btn" data-toggle="modal" data-target="#myModal">
                                Compre agora
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="text-center">
        <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </a>
        <br /><br />
        <p>
        <p class="mb-0 mt-3"><strong>Projeto Bahia Tour | Recode</strong></p>
        <p class="mb-0 mt-3">
            Desenvolvido por <strong>Eduardo Reis</strong>
        </p>
        <div class="social-links">
            <a class="btn btn-outline-light btn-sm mx-1" href="https://github.com/L-edu" target="_blank">
                GitHub
            </a>
            <a class="btn btn-outline-light btn-sm mx-1" href="https://www.linkedin.com/in/eduardo-reis-developer/" target="_blank">
                LinkedIn
            </a>
    </footer>
</body>

</html>